@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

article {
    font-family: 'Roboto', sans-serif;
    background: rgb(18, 31, 48);
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}

article h2 {
    text-decoration-line: underline;
}

article a {
    text-decoration: none;
    color: rgb(48, 130, 224);
}

article a:hover {
    color: rgb(44, 114, 194);
}

article img {
    margin: 5px;
}